@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&display=swap');
*{
    margin: auto;
    border-radius: 5px; 
    font-family: 'Amatic SC', cursive;
}
body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: whitesmoke;
    background-repeat: no-repeat;
    background-size: cover;
    /*overflow-y: hidden;*/ /* se tiver isso buga*/
}
.fundosp {
    background: url('https://data.1freewallpapers.com/detail/beautiful-space.jpg') fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: 10px;
    margin-bottom: 10px;
}


.defult{
    margin: auto;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.459);
    background-color: rgb(81, 81, 82);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: 10px;
    margin-bottom: 10px;
}
.defult:hover{
    transition: 1s;
    background-color:rgba(0, 0, 0, 0.178);
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.459);
}
.fixedondown{
    position: absolute;
    width: 100%;
    bottom: 0px;
}
a {
    color: rgb(44, 41, 40);
    text-decoration: underline;
};
.popup {
    position: fixed;
    top: 0px; bottom: 0px;
    left: 0px; right: 0px;
    margin: auto;
    width: 300px;
    height: 180px;
    padding: 15px;
    border: solid 2px black;
    background: white;
    display: none;
}
.nav {
    position: fixed;
    margin-top: 0px;
    top: 0px;
    background-color: whitesmoke;
    box-shadow: 10px 3px 5px #777;
    -moz-box-shadow: 10px 3px 5px #777;
    -webkit-box-shadow: 10px 3px 5px #777;
    width: 100%;
    margin-bottom: 20px;
}
.root {
    margin-top: 50px;
    margin-bottom: 45px;
}
footer {
    position: fixed;
    width: 100%;
    bottom: 0px;
    background-color: white;
    margin-bottom: 0px;
    box-shadow: -4px -8px 6px -5px #777;
	-moz-box-shadow: -4px -8px 6px -5px #777;
	-webkit-box-shadow: -4px -8px 6px -5px #777;
}
.nav ul li {
     display: inline-block; 

}
.nav ul {
    padding:5px;
    margin:0px;
    background-color:#EDEDED;
    list-style:none;
}
.nav ul li a {
    padding: 0px 10px;
    display: inline-block;

    /* visual do link */
    background-color:#EDEDED;
    color: #333;
    text-decoration: none;
    border-bottom:3px solid #EDEDED;
}
.materias {
    margin-bottom: 10px;
}
.pc {
    position: absolute;
    margin-top: -5px;
}
.materias {
    padding-left: 5px;
}
.aulas {
    padding-left: 5px;
}
.codego {
    margin-top: 10px;
    background-color: #777;
    margin-bottom: 10px;
    width: 100%;
}
.luisa {
    background-color: pink;
    color: black;
    border: 8px solid aqua;

}
.geral a:hover {
    color: rgb(248, 66, 66);
}
.g-signin2 {
    top: 40px;  
    position: absolute;
    margin-bottom: 0px;
    right: 10px;
    position: fixed;
    display: block;
    margin: auto;
    text-decoration: none;
}
.parede {  
    top: 45px;  
    position: absolute;
    display: none;
    margin-bottom: 0px;
    right: 35px;
    position: fixed;
    text-decoration: none;
}
.menu {
    cursor: pointer;
    position: absolute;
    top: 7px;
    right: 10px;

}
.opt {
    display: none;
}
.menu a:hover{
    transition: 1s;
    opacity: 1;
}
.data {
    top: 0px; bottom: 0px;
    left: 0px; right: 0px;
    margin: auto;
    width: 300px;
    padding: 15px;
    border: solid 2px black;
    background-color: rgba(187, 12, 12, 0.4 );
}
.img-circle {
    border-radius: 50%;
}
.box-cookies.hide {
    display: none !important;
}

.box-cookies {
    position: fixed;
    background: rgba(153, 153, 153, 0.795);
    width: 90%;
    z-index: 998;
    bottom: 50px;
    left: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: #333 5px 5px 5px;
}
.box-cookies .msg-cookies,
.box-cookies .btn-cookies {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    color: #333;
    font-size: 18px;
    font-weight: 600;
}
.box-cookies .btn-cookies {
    cursor: pointer;
    bottom: 40px;
}
#wrapper, #app {
    width: 100%;
    height: 100%;
    cursor: default;
}
#wrapper textarea {
    padding: 0;
    margin: 0;
    border: 0;
    width: 100%;
    height: 100%;
    font: inherit;
    color: inherit;
    background: transparent;
    outline: none;
}
#wrapper .nav-pills a {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
}
#wrapper .nav-pills a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#app textarea {
    width: 100%;
    height: 18.5rem;
}
.bunito {
    background: #C33764;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #000, #2f3781, #C33764);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #000, #2f3781, #C33764); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 400%;
    animation: bunitoKey 2.5s infinite;

}
.bunito:hover {
    animation: rodar 5s ease;
}
@keyframes rodar {
    0% {
        transform: rotate(0deg);
        background-position: 0% 50%;
    }
    5% {
        transform: rotate(45deg);
    }
    25% {
        transform: rotate(0deg);
    }
    40% {
        transform: rotate(-45deg);
        background-position: 100% 50%;
        color: #fff;
    }
    55% {
        transform: rotate(-360deg);
    }
    60% {
        transform: rotate(-360deg);
        background-position: 0% 50%;
    }
    64% {
        color: #000;
    }
    65% {
        transform: scale(0);
    }
    75% {
        transform: scale(2);
    }
    80% {
        transform: rotate(-360deg);
    }
    
}
@keyframes bunitoKey {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
        color: #fff;
    }
    100% {
        background-position: 0% 50%;
    }
}
#wrapper .nav-pills a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#root {
    padding-left: 20px;
}
#codegop {
    cursor: pointer;
    animation: bunitoKey 4s infinite;
    background: #c31432;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 400%;
}
#CAGADA {
    width: 100%;
    height: 18.5rem;
}
a:hover {
    color: blue;
}
#wrapper a{
    text-decoration: none;
}
#loading{
	position: fixed;
	width: 100%;
	height: 100vh;
	background: #fff no-repeat center center;	
	z-index: 99999;
    text-align: center;
    font-size: 30px;
    font-family: 'Inconsolata:wght@200', arial;
}
.centro {
    padding-top: 50vh;
    text-align: center;
}
